@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&family=Inter:wght@400;700&family=Overpass:wght@400;700&family=Poppins:wght@200;400;600&family=Roboto:wght@300;400&display=swap');
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    margin: 0;
    font-family: 'Bai Jamjuree', sans-serif;
    width: 100%;
    height: 100%;
}
main{
    min-height: 100vh;
    width: 100%;
}

